@use "./themes/theme";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Montserrat;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a {
  color: inherit;
  text-decoration: none;

  color: var(--text-color);
  transition: 0.5s;

  &:hover {
    color: var(--primary-color);
  }
}
