@use "sass:math";
@use "./style/_converters.scss" as *;

$animationDuration: 100s;
$amount: 25;
$size: toRem(25);

.container {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -100;
}

.background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  overflow: hidden;
}

.background span {
  position: absolute;
  backface-visibility: hidden;

  width: 0;
  height: 0;
  top: 105vh;

  border-top: $size solid transparent;
  border-bottom: $size solid transparent;
  border-left: $size solid var(--primary-color);

  animation-name: up;
  animation-duration: $animationDuration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  will-change: transform, opacity;

  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      left: calc(100% * (#{$i - 1}) / #{$amount - 1});
      animation-duration: math.random(80) * 1s + 20s;
      animation-delay: math.random(100) * -1s;
    }
  }
}

@keyframes up {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.5;
  }
  85% {
    opacity: 0.5;
  }
  100% {
    top: 40vh;
    opacity: 0;
    transform: rotate(660deg);
  }
}
